<mat-drawer-container id="top" class="container mat-typography" hasBackdrop="true">
  <mat-drawer #drawer class="sidenav" mode="over" (swipeleft)="drawer.toggle()">
    <form [formGroup]="settingsForm" (submit)="onSubmit(settingsForm.value)">
      <h2>Настройки поиска</h2>
      <mat-divider></mat-divider>

      <div>
        <h3>Что ищем?</h3>
      </div>
      <mat-radio-group formControlName="type">
        <mat-radio-button (change)="onRentTypeChange('flat', $event.source.checked)" value="flat">
          Квартиру
        </mat-radio-button>
        <mat-radio-button (change)="onRentTypeChange('room', $event.source.checked)" value="room">
          Комнату
        </mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="settingsForm.get('type').value === 'flat'">
        <div>
          <h3>Сколько комнат?</h3>
        </div>
        <mat-checkbox *ngFor="let room of rooms" value="{{room.value}}"
                      (change)="onRoomsChange(room.value, $event.source.checked)"
                      [checked]="settings && settings.rooms && settings.rooms.indexOf(room.value) > -1">
          {{room.name}}
        </mat-checkbox>
      </ng-container>
      <div>
        <h3>Цена, $</h3>
      </div>
      <mat-grid-list [cols]="2" rowHeight="56">
        <mat-grid-tile>
          <mat-form-field class="price-min" appearance="legacy">
            <mat-label>От</mat-label>
            <input matInput type="number" formControlName="priceMin" placeholder="От"
                   min="50" [max]="settingsForm.get('priceMax').value" step="1"/>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="price-max" appearance="legacy">
            <mat-label>До</mat-label>
            <input matInput type="number" formControlName="priceMax" placeholder="До"
                   [min]="settingsForm.get('priceMin').value" max="7000" step="1"/>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        <h3>Дополнительно</h3>
      </div>
      <mat-checkbox formControlName="onlyOwner">Только собственник</mat-checkbox>
      <mat-form-field>
        <mat-label>Город</mat-label>
        <mat-select formControlName="city" placeholder="Город"
                    (selectionChange)="onCityChange($event)">
          <mat-option *ngFor="let city of cities" value="{{city.value}}">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="settingsForm.get('city').value === 'minsk'">
        <mat-form-field>
          <mat-label>Метро</mat-label>
          <mat-select formControlName="metro" placeholder="Метро">
            <mat-option *ngFor="let metro of metros" value="{{metro.value}}">{{metro.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <div class="sidenav-buttons">
        <button mat-raised-button color="accent" [disabled]="!settingsForm.valid">Сохранить</button>
      </div>
    </form>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar class="mat-elevation-z6" color="primary" (swiperight)="drawer.toggle()">
      <button type="button" mat-icon-button class="sidenav-toggle" (click)="drawer.toggle()">
        <i class="material-icons">
          settings
        </i>
      </button>
      <h1>Аренда жилья<span class="hidden-xs">. Беларусь</span></h1>
      <button type="button" mat-icon-button class="refresh" title="Обновить" (click)="getResults()">
        <i class="material-icons">
          refresh
        </i>
      </button>
    </mat-toolbar>
    <div class="content-container">
      <div class="search-results" *ngIf="searchResults && currentLat && currentLong && currentZoom"
           [ngClass]="{'faded':isLoading}">
        <mat-toolbar color="accent" class="results-toolbar">
          <mat-checkbox (change)="showMap = $event.source.checked"> Показать результаты на карте</mat-checkbox>
          <mat-select placeholder="Валюта" (selectionChange)="onCurrencyChange($event)" [value]="currentCurrency">
            <mat-option *ngFor="let currency of currencies" value="{{currency.value}}">{{currency.name}}
            </mat-option>
          </mat-select>
          <mat-select placeholder="Сортировка" (selectionChange)="onSortTypeChange($event)" [value]="currentSortType">
            <mat-option *ngFor="let sortType of sortTypes" value="{{sortType.value}}">{{sortType.name}}
            </mat-option>
          </mat-select>
        </mat-toolbar>
        <agm-map *ngIf="showMap" class="results-map" [latitude]="currentLat"
                 [longitude]="currentLong"
                 [zoom]="currentZoom">
          <agm-marker *ngFor="let apartment of searchResults.apartments"
                      (markerClick)="scrollToApartment(apartment.id)"
                      [latitude]="apartment.location.latitude"
                      [longitude]="apartment.location.longitude"></agm-marker>
        </agm-map>
        <mat-paginator
            [showFirstLastButtons]="true"
            [hidePageSize]="true"
            [length]="searchResults.total"
            [pageSize]="searchResults.page.limit"
            [pageIndex]="searchResults.page.current - 1"
            (page)="pagination($event)"></mat-paginator>
        <div class="cards-list">
          <mat-card *ngFor="let apartment of searchResults.apartments"
                    id="apartment{{apartment.id}}"
                    [ngClass]="{'focused':(focusedApartment===apartment.id)}">
            <mat-card-header>
              <mat-card-title>{{getSubtitle(apartment.rent_type)}} - {{getPrice(apartment.price)}}
              </mat-card-title>
              <mat-card-subtitle>{{apartment.location.address}}</mat-card-subtitle>
            </mat-card-header>
            <div class="img-wrapper">
              <img mat-card-image [src]="apartment.photo"
                   alt="{{getPhotoAlt(apartment.rent_type, apartment.location.address)}}"/>
            </div>
            <mat-card-actions>
              <a href="{{apartment.url}}" target="_blank" rel="noopener" mat-button color="primary"
                 title="Открыть в новой вкладке">Открыть <i
                  class="material-icons">open_in_new</i></a>
              <button mat-button title="Поделиться" disabled><span
                  class="hidden-xs">Поделиться </span><i class="material-icons">share</i>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <mat-paginator
            [showFirstLastButtons]="true"
            [hidePageSize]="true"
            [length]="searchResults.total"
            [pageSize]="searchResults.page.limit"
            [pageIndex]="searchResults.page.current - 1"
            (page)="pagination($event)"></mat-paginator>
      </div>
      <div class="info info-loading" *ngIf="!searchResults || isLoading"
           [ngClass]="{'with-results':searchResults}">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <button id="scrollToTop" class="scroll-to-top" mat-fab color="primary" (click)="scrollToTop()"
          style="display:none"><i class="material-icons">arrow_upward</i></button>
</mat-drawer-container>