.container {
  width: 100%;
  min-height: 100vh;
  .sidenav {
    padding: 20px;
    width: 480px;
    max-width: 90vw;
    h3 {
      margin: 10px 0;
      font-weight: bold;
    }
    .mat-divider {
      margin: 10px 0;
    }
    .mat-radio-group {
      display: block;
    }
    .mat-radio-button,
    .mat-checkbox {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
    .mat-form-field {
      display: block;
      &.price {
        &-min {
          margin-right: 10px;
          width: calc(100% - 10px);
        }
        &-max {
          margin-left: 10px;
          width: calc(100% - 10px);
        }
      }
    }
    &-toggle {
      margin-right: 10px;
    }
    &-buttons {
      margin-top: 10px;
      text-align: right;
    }
    &-content {
      position: relative;
      display: flex;
      flex: 1 1;
      flex-direction: column;
      min-height: 100vh;
      .mat-toolbar {
        h1 {
          flex: 1 1 auto;
        }
      }
      .content-container {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 56px);
        .search-results {
          transition: .4s ease-in-out;
          &.faded {
            opacity: .5;
          }
          .results-map {
            margin-bottom: 10px;
            width: 100%;
            height: 320px;
            max-height: 30vh;
            z-index: 10;
          }
          .results-toolbar {
            * {
              font-size: 16px;
            }
            .mat-checkbox {
              flex: 1 1 auto;
            }
            .mat-select {
              flex: 1 1;
              margin-left: 40px;
              min-width: 180px;
              & + .mat-select {
                margin-left: 20px;
              }
            }
          }
          .cards-list {
            margin: 0 auto;
            padding: 20px 0;
            width: calc(340px * 4);
            text-align: center;
            text-align-last: left;
            .mat-card {
              display: inline-block;
              margin: 0 10px 20px;
              width: 320px;
              max-width: 100%;
              text-align: left;
              transition: .4s ease-in-out;
              &.focused {
                box-shadow: 0 0 30px 5px rgba(103, 58, 183, .85);
              }
              .mat-card-subtitle {
                height: 20px;
                overflow: hidden;
              }
              .img-wrapper {
                position: relative;
                margin: 0 -24px 16px -24px;
                height: 140px;
                overflow: hidden;
                & > img {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  margin: 0;
                  width: 100%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
        .info {
          position: fixed;
          top: 56px;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 40px;
          width: 100%;
          height: calc(100% - 56px);
          z-index: 10;
        }
      }
    }
  }
  .scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 100;
    transition: .4s ease-in-out;
    &.hidden {
      opacity: 0;
    }
  }
}

@media (max-width: 1480px) {
  .container {
    .sidenav {
      &-content {
        .content-container {
          .search-results {
            .cards-list {
              width: calc(340px * 3);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .container {
    .sidenav {
      &-content {
        .content-container {
          .search-results {
            .cards-list {
              width: calc(340px * 2);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 740px) {
  .container {
    .sidenav {
      &-content {
        .content-container {
          .search-results {
            .mat-toolbar {
              display: block !important;
              padding: 10px 20px;
              width: auto;
              max-width: initial;
              overflow-x: auto;
              overflow-y: hidden;
              .mat-select {
                width: 180px;
              }
            }
            .cards-list {
              padding: 20px 20px;
              width: 100%;
              max-width: 400px;
              .mat-card {
                margin: 0 0 40px;
                width: 100%;
                max-width: 360px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .hidden-xs {
    display: none;
  }
  .container {
    .sidenav {
      &-content {
        .content-container {
          .search-results {
            .cards-list {
              .mat-card {
                .img-wrapper {
                  margin: 0 -16px 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
